
CognitiveExample/CognitiveExample\.Android/bin/
CognitiveExample/CognitiveExample\.Android/obj/
CognitiveExample/CognitiveExample\.iOS/bin/
CognitiveExample/CognitiveExample\.iOS/obj/
CognitiveExample/CognitiveExample\.UWP/bin/
CognitiveExample/CognitiveExample\.UWP/obj/
